.about-wrapper {
  text-align: center;
  padding: 20px 0;
}

.about-body {
  padding: 20px;
  background-color: rgb(117, 155, 202);
  color: white;
  margin-bottom: 30px;
}

.about-heading {
  margin-bottom: 30px;
}

.about-content {
  line-height: 1.3rem;
}

.why-us-body {
  margin-bottom: 50px;
}

.why-us-heading {
  color: black;
}
