.services-container {
  padding: 0 70px;
}

.services-title {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-family: "Times New Roman", Times, serif;
  margin: 40px 0;
}

.services-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
