.form-wrapper {
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  padding-left: 5px;
}

@media screen and (max-width: 550px) {
  .form-wrapper {
    padding: 30px;
  }
}
