.right-side-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .nav-toggle-container {
    display: none;
  }

  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .nav-item-link {
    margin: 0 13px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: raleway, sans-serif;

    &:hover {
      border-bottom: 1.5px solid;
    }
    a {
      font-size: 1.1rem;
      text-decoration: none;
      color: rgb(117, 155, 202);

      &:visited {
        color: none;
      }

      &:hover {
        color: rgb(9, 100, 212);
      }
    }

    .sign-out-btn {
      width: 100%;
      height: 100%;
    }

    .nav-button {
      border: none;
      width: 100%;
      height: 100%;
      background: none;
      height: 100%;
      font-size: 1rem;
      text-decoration: none;
      color: #505083ef;
    }
  }
}

@media screen and (max-width: 950px) {
  .right-side-nav {
    position: absolute;
    left: -175px;
    flex-direction: row-reverse;
    align-items: unset;
    justify-content: space-between;
    transition: all 400ms linear;

    &.show-nav {
      left: 0;
    }

    .nav-toggle-container {
      position: relative;
      display: block;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      .nav-toggle {
        display: flex;
        flex-wrap: wrap;
        width: 35px;
        height: 25px;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: unset;

        &:focus {
          outline: none;
        }

        .toggle-icon {
          line-height: 0.4rem;
          font-weight: bold;
          font-size: 1.25rem;
          position: relative;
          transition: all 200ms ease-in;
        }

        .toggle-icon-one {
          position: absolute;
          top: 50%;
          transform: rotate(-45deg);
        }

        .toggle-icon-two {
          opacity: 0;
        }

        .toggle-icon-three {
          position: absolute;
          top: 50%;
          transform: rotate(45deg);
        }
      }
    }

    .nav-links {
      box-sizing: border-box;
      flex-direction: column;
      width: 175px;
      background-color: white;
      border: 1px solid #808080;
      border-radius: 3px;
      padding: 0 10px;

      .nav-item-link {
        height: 55px;
        margin: unset;
        border-bottom: 1.5px solid;

        &:last-child {
          border-bottom: unset;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
