.employment-wrapper {
  padding: 20px 40px;
}

.employment-title {
  text-align: center;
  color: black;
  margin-bottom: 40px;
}

.employment-width {
  min-width: 200px;
  max-width: 500px;
}

.button-container {
  text-align: center;
}

.outline-color {
  border-color: white;
  color: black;
}
