.homepage-main-content {
  padding: 0 70px;
  display: flex;
}

.motto,
.homepage-image-container {
  width: 50%;
  margin-bottom: 20px;
}

.motto {
  background-color: rgb(183, 223, 241);
  padding: 0 40px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(71, 70, 70);

  .motto-container {
    margin-top: 200px;

    .motto-title {
      font-size: 72px;
    }

    .submotto {
      font-size: 20px;
    }
  }
}

.homepage-image {
  display: block;
  width: 100%;
  object-fit: contain;
}
